.app {
  .title {
    background-color: #d43d3d;
    height: 44px;
    line-height: 50px;
    font-size: 20px;
    text-align: center;
    color: #fff;
    position: relative;
    i{
      display: inline-block;
      position: absolute;
      background-size: contain;
      background-repeat: no-repeat;
    }
    .icon_mail{
      width: 32px;
      height: 25px;
      background-image:url(https://s3.pstatp.com/growth/mobile_list/image/feed_ic_message_normal@3x_f2ea949f.png) ;
      top: 10px;
      left: 19px;
    }
    .icon_name{
      width: 83px;
      height: 44px;
      background-image:url(https://s3b.pstatp.com/growth/mobile_list/image/wap_logo@3x_581de69e.png) ;
      // background-position: right center;
      top: 11.5px;
      left: 141px;
    }
    .icon_update{
      width: 25px;
      height: 44px;
      background-size: 15px;
      background-image:url(https://s3a.pstatp.com/growth/mobile_list/image/titlebar_refresh_small@3x_96fb31e4.png) ;
      top: 15px;
      left: 229px;
    }
    .icon_search{
      width: 24px;
      height: 24px;
      background-size: contain;
      background-image:url(https://s3.pstatp.com/growth/mobile_list/image/feed_ic_search_normal@3x_0f198e56.png) ;
      top: 10px;
      left: 332px;
    }
  }
  .nav{
    position: relative;
    width: 335px;
    height: 37px;
    line-height: 37px;
    font-size: 17px;
    color: #505050;
    background-color: #f4f5f6;
    overflow-x:auto;
    white-space: nowrap;
  }
  .nav_more{
    width: 40px;
    height: 37px;
    background-color: #f4f5f6;
    position: absolute;
    top: 44px;
    right: 0px;
    z-index: 1;
    span{
      display: inline-block;
      width: 17px;
      height: 1.4px;
      padding: 0;
      margin: 0;
      background-color: #f85959;
    }
    .nav_more_virtical{
      position: absolute;
      left:11px;
      top: 17px;
      transform: rotate(90deg);
    }
    .nav_more_horizontal{
      position: absolute;
      left:11px;
      top: 17px;
    }
  }
}
::-webkit-scrollbar{
  display: none;
}
